<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contato</title>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }</script>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
	<h1>Olá</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero tempora accusamus quo libero debitis nesciunt doloribus, ab, quibusdam, iste ea similique soluta fuga sequi, atque qui a commodi culpa. Quis!</p>
</body>
</html>